/*
 Theme Name:     Ela1 Divi Child
 Theme URI:      https://www.elegantthemes.com/gallery/divi/
 Description:    Divi Child Theme
 Author:         Elegant Themes
 Author URI:     https://www.elegantthemes.com
 Template:       Divi
 Version:        1.0.0
*/
 
 
/* =Theme customization starts here
------------------------------------------------------- */


.custom-banner .et_pb_column.et_pb_column_3_4{
  margin-right: 0;
  width: 94%;
}
.custom-banner .et_pb_column.et_pb_column_1_4{
  width: 6%;
}
.custom-banner-slider .tp-revslider-mainul{
  width: 100% !important;
}
.custom-first-section{
    padding: 0;
}
.custom-first-section .et_pb_row.et_pb_row_0 {
    padding: 0;
}
.custom-banner {
    display: flex;
}
.custom-banner-right-bar{
  height: 100%;
}
.custom-banner-right-bar .et_pb_text_inner{
    display: flex;
    justify-content: center;
    align-items: center;
	height: 100%;
}
.custom-banner-right-bar .et_pb_text_inner p{
  color: #fff;
  transform: rotate(90deg);
}
.Custom-home{
	padding: 0% 0;
}
.Custom-home .et_pb_row {
    padding: 0% 0; 
}
.et_pb_gutters2.et_pb_footer_columns_2_5__3_5 .footer-widget:nth-child(1) {
    border-right: 1px solid #ccc;
}
.footer-widget h4 {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  color:#000000;
}
#footer-widgets .footer-widget li{padding:0px;}

#top-menu, .fullwidth-menu, nav#top-menu-nav, nav.fullwidth-menu-nav {
    margin-right: 42px;
}

.et_pb_gutters2.et_pb_footer_columns3 .footer-widget {
    border-right: 1px solid #ccc;
}

.et_pb_gutters2 .footer-widget {
    padding-right: 20px;
}
#footer-widgets .footer-widget li:before{
	display: none;
}
#top-menu-nav .custom-button a {
    padding-bottom: 20px !important;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.custom-button {
    background: #7f0001;
}
.custom-banner-right-bar .et-pb-icon{
	font-size: 20px !important;
	 transform: rotate(90deg);
}
.custom-banner-right-bar .et_pb_blurb_description{
	transform: rotate(90deg);
}

.custom-banner-right-bar .et_pb_blurb_description p{
    display: flex;
    justify-content: center;
    align-items: center;
	height: 100%;
}

.custom-quort-section {
    width: 50%;
    margin-left: 10%;
}
.custom-quort-section .et_pb_column.et_pb_column_4_4 {
    padding-left: 40px;
    padding-right: 40px;
}	

#footer-info {
  float: none;
  padding-bottom: 10px;
  color: #666;
  text-align: left;
  width: 100%;
  text-align: center;
}
.et_pb_gutters3 .footer-widget{margin-bottom:1% !important;}

#main-footer .container{width:70%;}
/*#top-menu li.centered-inline-logo-wrap{padding:0 150px;}
@media only screen and (max-width: 767px) {
  #top-menu li.centered-inline-logo-wrap{padding:0 80px;} 
}
@media only screen and (max-width: 480px) {
  #top-menu li.centered-inline-logo-wrap{padding:0px;} 
}*/

body{position: relative;}
#et-main-area{position: absolute;
top: 0;
width: 100%;}
#main-header{background-color: transparent;}

.innerheader #top-menu li a{color:#000 !important;}
/*.innersubheading {min-height:400px;}*/
a.email.buttons0{
padding: 10px 20px;
font-size: 11px;
font-family: Poppins;
font-weight: 700;
font-style: normal;
letter-spacing: 2px;
transition: all .25s ease-in-out;
text-transform: uppercase;
text-decoration: none;
color: #ffffff;
background-color: #000000;
margin:20px 0px;
}
.work-section a{
padding: 10px 20px;
font-size: 11px;
font-family: Poppins;
font-weight: 700;
font-style: normal;
letter-spacing: 2px;
transition: all .25s ease-in-out;
text-transform: uppercase;
text-decoration: none;
color: #ffffff;
margin:20px;
border:2px solid #ffffff;
}
.work-section a:hover,
a.email.buttons0:hover {
  background-color: #3600e6;
  padding: 10px 20px;
}
#main-header.et-fixed-header{display:none;}
.et_pb_column.et_pb_column_1_3.et_pb_css_mix_blend_mode_passthrough ul{list-style-type:none !important;}


.page-id-19 div.et_pb_section.et_pb_with_background.et_section_regular{height: 100vh !important;background-size: cover;}

.page-child .inner-pagebanner >div.et_pb_row,
.page-id-19 div.et_pb_section.et_pb_with_background.et_section_regular >div.et_pb_row{height: 100%;display: flex;align-items: center;}

.page-id-19  div.et_pb_section.et_pb_with_background.et_section_regular img.aligncenter{width: auto;height: 36px}

.home-sections .et_pb_image_wrap:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(255,255,52,0.8);
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
}
.home-sections .et_pb_image_wrap {
    position: relative;
}

.home-sections .et_pb_image_wrap:hover:before{opacity: 1;}

.innerbuttons a:hover,
.home-sections a:hover {
  background-color: #3600e6;
}
.innerbuttons a,
.home-sections a{
	padding: 5px 20px;
	font-family: Poppins;
	font-weight: 700;
	font-style: normal;
	letter-spacing: 2px;
	transition: all .25s ease-in-out;
	font-size: 11px;
	text-decoration: none;
	color: #fff;
	background-color: #000000;
	text-transform: uppercase;
	margin-top: 20px;
	display: inline-block;
 }

.home-sections h3 {  color: #000000;}

.page-child .inner-pagebanner{height: 100vh !important;/*opacity: 0.8;*/}
.page-child .et_pb_section .et_pb_text_inner ul{display: flex;flex-wrap: wrap;}
.page-child .et_pb_section .et_pb_text_inner ul li{clear: both;display: inline-flex;width: 100%;margin:10px 0px;}

.home-sections .et_pb_image >a{padding:0px;}

/* 09-07-2019 */

header #top-menu-nav {
	margin: 0px;
}
header #top-menu-nav {
	width: 100% !important;
}
header #et-top-navigation {
	padding: 30px 0px 0px 0px !important;
}
header #top-menu {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile_nav{
  padding: 0px !important;
}
.mobile_nav .select_page {
  display: none !important;
}

header #logo {
	width: 50px;
}
header ul li a{
  text-transform: uppercase !important;
  font-size: 11px !important;
  font-weight: 800;
}
header ul li a i{
  color:  #000 !important;
}
header ul li.centered-inline-logo-wrap{
  margin: 0 auto !important;
}
.fullwidthbanner-container{
	height: 100vh !important;
}

/* We question */

.custom-section-homepage-main {
	padding: 0px 0px  !important;
}

.custom-section .custom-row-we-question .et_pb_text_0 h2 {
	line-height: 60px !important;
	padding: 0px 10px 20px 10px;
}

.custom-sections-image-text {
	display: flex;
  justify-content: space-between;
  padding: 0px !important;
}

.custom-sections-image-text  .custom-image-left{
  margin-bottom: 15px !important;
}
.custom-sections-image-text .custom-text-left p, .custom-sections-image-text .custom-text-right p{
  letter-spacing: 2px;
  color: rgb(0, 0, 0);
  font-weight: inherit;
  text-transform: uppercase;
}
.custom-sections-image-text .custom-text-left, .custom-sections-image-text .custom-text-right{
  margin-left: 10px !important;
  padding-bottom: 120px !important;
}
.custom-sections-image-text .custom-text-left h3, .custom-sections-image-text .custom-text-right h3{
  padding: 10px 0px;
  margin: 10px 0px; 
}
.custom-sections-image-text .custom-text-left  a, .custom-sections-image-text .custom-text-right  a {
	text-decoration: none;
	background: #000;
	height: 31px;
	display: inline-block;
	padding: 10px 22px;
	line-height: 14px;
	text-transform: uppercase;
	color: #fff;
    font-weight: bolder;
    margin-top: 15px;
    /* transition: all 0.5s; */
}
.custom-sections-image-text .custom-text-left  a:hover, .custom-sections-image-text .custom-text-right  a:hover{
	 background-color: #3600e6;
}
.custom-sections-image-text .et_pb_css_mix_blend_mode_passthrough:first-of-type {
  width: 45.3% !important;
  margin-right: 0px;
} 
.custom-sections-image-text .et_pb_css_mix_blend_mode_passthrough:last-of-type {
  width: 45.3% !important;
  margin-left: auto;
}




/* footer */


footer .container {
	text-align: center;
}
footer #footer-widgets {
	padding: 6% 0 0;
	width: 71.9%;
	display: inline-block;
}
footer h4 {
	text-transform: none !important;
}
footer a {
	font-size: 11px !important;
}
footer #text-4 {
	text-align: left !important;
}
footer #text-4 li{
  font-size: 11px !important;
}


/* 12-08-2019 */

/* banner css start here */
.forcefullwidth_wrapper_tp_banner{
	height: 100vh !important
}
.forcefullwidth_wrapper_tp_banner .rev_slider.fullwidthabanner, .forcefullwidth_wrapper_tp_banner .rev_slider_wrapper{
	height: 100% !important;
	max-height: 100% !important;
}
.forcefullwidth_wrapper_tp_banner .rev-btn{
	letter-spacing: 1px !important;
	font-weight: 800 !important;
	padding: 13px 20px !important;
}

/*testimonials*/
.custom-testimonial {
	background: transparent !important;
}
.custom-testimonial .slick-dots li button{
	border: none !important;
    background: rgb(179, 179, 179);
    border-radius: unset !important;
    font-size: 0;
    height: 8px !important;
    width: 8px !important;
    margin: 0px 6px !important;
}
.custom-testimonial .slick-dots li.slick-active button{
	background: rgb(225, 184, 0) !important;
}
.custom-testimonial, .custom-testimonial .lswss-logo-showcase{
	padding: 0px !important;
}
.custom-row-testimonial .et_pb_module.et_pb_text.et_pb_text_8.et_pb_bg_layout_light.et_pb_text_align_center {
    margin-top: 80px !important;
}
.custom-row-testimonial .et_pb_module.et_pb_text.et_pb_text_8.et_pb_bg_layout_light.et_pb_text_align_center a {
	padding: 8px 20px !important;
}


/*about page*/
.custom-row-about{
	display: flex;
	justify-content: space-between;
}
.custom-row-about .et_pb_column_0, .custom-row-about .et_pb_column_2, .custom-row-about .et_pb_column_4{
	    width: 45.3%;
	    margin-right: 0px !important;
}
.custom-row-about .et_pb_column_1, .custom-row-about .et_pb_column_3, .custom-row-about .et_pb_column_5{
	margin-left: auto;
	    width: 45.3%;
}
.section_2 > .et_pb_column.et_pb_column_1_2.et_pb_column_2.et_pb_css_mix_blend_mode_passthrough {
    margin-top: -200px;
}
.custom-aboutimg{
	margin-bottom: 0 !important;

}
.section_2 .custom-aboutimg{
	height: 800px;
}
.section_2 .custom-aboutimg > span, .section_3 .custom-aboutimg > span{
	height: 100%;
	width: 100%;
}
.section_2 .custom-aboutimg img, .section_3 .custom-aboutimg img{
    height: 100%;
    width: 100%;
}
.section_3{
	margin-top: 50px;
}
.section_3 .custom-aboutimg{
	height: 100%;
}
.section_3 > .et_pb_column.et_pb_column_1_2.et_pb_column_5.et_pb_css_mix_blend_mode_passthrough{
	margin-top: -100px;
}
.custom-left-withoutimg h3, .custom-right-withoutimg h3 {
    color: #000;
    padding-bottom: 40px;
}

.custom-overtext {
	position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    transition:  all 0.5s;
}
.custom-overtext p {
    color: #fff;
    letter-spacing: 2px;
    padding-bottom: 10px !important;
}
.custom-overtext h3 {
    color: #fff;
}
.custom-row-about .hovertxt{
	position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    transition: all 0.8s;
    margin: 0px !important;
    background: rgba(55,39,190,1);
    z-index: 1;
    width: 100%;
    height: 100%;
    margin-left: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-row-about .hovertxt p{
	text-transform: uppercase;
}
.custom-row-about .hovertxt p, .custom-row-about .hovertxt h3{
	color:  #fff;
}
.custom-row-about .et_pb_column_1_2:hover .hovertxt{ 
	opacity: 1;
	visibility: visible;
}

.custom-capability .custom-row-about  {
	justify-content: center;
	display: flex;
}
.custom-capability .custom-row-about > .et_pb_column{
  width: 920px !important;
}
.custom-capability p {
    color: #000;
}
.custom-capability .custom-Capabilities-list > .et_pb_text_inner{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.custom-capability .custom-Capabilities-list ul{
	text-align: center;
}
.custom-capability .custom-Capabilities-list ul li{
	padding: 20px 0px;
	font-weight: 500;
    list-style: none;
}

/* work page start*/


header{
	box-shadow: none !important;
}
.custom-we_want-section .et_pb_row.et_pb_row_0 {
    padding-top: 235px !important;
}
.custom-we_want-section .innersubheading{
	padding-bottom: 0px !important;
}
.custom-we_want-section .innersubheading h2{
	margin-bottom: 20px;
}
.custom_work_layer::after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
}
.work-section a{
	display: inline-block;
}
.custom-client-section{
	padding-top: 50px;
}
.custom-client-section .custom-row-work{
	padding-top: 0px;
}
.custom-client-section .custom-row-work{
	padding-top: 70px;
}

/* contact page start*/
.custom-contact-address .et_pb_column_1 {
    margin-right: 0px !important;
    text-align: center;
    width: 50%;
}
.custom-contact-address .et_pb_column_2 {
    margin-left: auto;
    text-align: center;
    width: 50%;
}
.custom-contact-address p {
    font-size: 11px;
    font-weight: 800;
    color: #000;
    letter-spacing: 2px;
    margin-bottom: 15px;
}
.custom-contact-heading .custom-row-contact{
	padding-bottom: 0px !important;
}
.custom-contact-heading .custom-row-contact, .custom-contact .custom-row-contact{
    width: 920px;

}
.custom-contact{
	padding: 0px 0px 70px 0px !important;
}
.custom-contact .custom-row-contact p{
	margin-top: 25px;
}
.custom-contact-heading h3 {
    color: #000 !important;
}
/* 13-08-2019 */

/*.page-child .inner-pagebanner::after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}*/

.page-child .inner-pagebanner h2{
  padding-bottom: 50px;
}

.custom-iframe-wrapper {
  display: flex;
  align-items: flex-end;
}


.custom-column-images li:first-child{
  display: flex !important;
  justify-content: space-between;
  padding-bottom: 30px;
}
.custom-column-images li .alignleft, .custom-column-images li .alignright {
  width: 48%;
}


.custom-row-game{
  display: flex;
  justify-content: space-between;
}
.custom-row-game .et_pb_column_2, .custom-row-game .et_pb_column_6{
  width: 49.5%;
  margin-right: 0px;
  text-align: center;
}
.custom-row-game .et_pb_column_3, .custom-row-game .et_pb_column_7{
  width: 49.5%;
  margin-left: auto;
  text-align: center;
}
.custom-row-img-text{
  display: flex;
  align-items: center;
}
.custom-row-img-text .et_pb_column_9{
  width: 60%;
  margin-right: 30px !important;
}
.custom-row-img-text .et_pb_column_10{
  width: 40%;
}
.et_pb_row{
  width: 100% !important;
}
/* 14-8-19 */
/*19-08-2019*/
.custom_work_layer:nth-child(9) .aligncenter.wp-image-119.size-medium {
	height: 79px !important;
	width: 217px !important;
}
.custom_work_layer:nth-child(11) .aligncenter.size-full.wp-image-157{
	height: 79px !important;
	width: 217px !important;
}
.custom-video-section .et_pb_column_1_3 {
	width: 30.98%;
	margin-right: 3.5%;
}
.inner-pagebanner p {
	text-transform: uppercase;
}
.et_builder_inner_content .custom-img-mobile img {
	height: 400px !important;
	object-fit: cover;
}
body .custom-Thermador-section .custom-row-images li {
	margin-top: 15px !important;
	margin-bottom: 35px !important;
}
body .custom-Thermador-section .custom-row-images .alignleft.size-full.wp-image-278 {
	margin-right: 30px !important;
}
 body header div#et_mobile_nav_menu {
    margin-top: 8px !important;
}
.mobile_menu_bar:before{
	font-size: 48px !important;
}
.fullwidthabanner .tp-parallax-wrap {
  top: 244px !important;
}
.fullwidthabanner div#slide-2-layer-4 {
    top: 194px;
    /*left: -10px;*/
}
.custom-row-about .custom-right-withoutimg {
	margin-top: 60px !important;
}
.custom-image-right a .et_pb_image_wrap{
	position: relative;
}
.custom-image-left a .et_pb_image_wrap::before, .custom-image-right a .et_pb_image_wrap::before {
	display: block !important;
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,52,0.8);
	z-index: 9;
	opacity: 0;
	transition: all 0.5s;
}
.custom-image-left a .et_pb_image_wrap:hover::before, .custom-image-right a .et_pb_image_wrap:hover::before{
	opacity: 1;
}
/* 20-08-2019 */
.custom-row-images ul li:first-child img{
  width: 48%;
}



.et_pb_gutters3.et_pb_footer_columns4 .footer-widget:first-child{width: 15%;}

.et_pb_gutters3.et_pb_footer_columns4 .footer-widget:nth-child(2){display: inline-flex;width:30%;}
.et_pb_gutters3.et_pb_footer_columns4 .footer-widget:nth-child(2) #media_image-2{text-align: right;}
.et_pb_gutters3.et_pb_footer_columns4 .footer-widget:nth-child(2) #media_image-2 img{width: 40% !important;}


.et_pb_gutters3 .footer-widget{margin-right: 2.5% !important;}
#media_image-2{width: calc(100% - 80px);}

/* responsive */

@media(max-width:1350px){
    .container, .et_pb_row, .et_pb_slider .et_pb_container, .et_pb_fullwidth_section .et_pb_title_container, .et_pb_fullwidth_section .et_pb_title_featured_container, 
    .et_pb_fullwidth_header:not(.et_pb_fullscreen) .et_pb_fullwidth_header_container {
      max-width: 1080px !important;
  }
  .hovertxt h3 {
    font-size: 44px !important;
    line-height: 50px !important;
  }
}

@media(max-width:1200px){
    .container, .et_pb_row, .et_pb_slider .et_pb_container, .et_pb_fullwidth_section .et_pb_title_container, .et_pb_fullwidth_section .et_pb_title_featured_container, 
    .et_pb_fullwidth_header:not(.et_pb_fullscreen) .et_pb_fullwidth_header_container {
      max-width: 970px !important;
  }
    .custom-section-homepage-main .custom-row-we-question {
      padding-top: 50px;
      padding-bottom: 50px;
  }
  .custom-sections-image-text .custom-text-left, .custom-sections-image-text .custom-text-right {
      padding-bottom: 72px !important;
  }
  
  /* about page start */
    .section_2 > .et_pb_column.et_pb_column_1_2.et_pb_column_2.et_pb_css_mix_blend_mode_passthrough {
      margin-top: -100px;
  }
    .hovertxt h3{
      font-size: 44px !important;
      line-height: 50px !important;
    }

    /* work page start */

    .custom-we_want-section .et_pb_row.et_pb_row_0 {
        padding-top: 150px !important;
    }

    /* contact page start */
    .custom-row-subheading {
        padding-top: 150px !important;
    }
    .custom-row-subheading h2{
      font-size: 50px !important;
    }
    .custom-contact-address{
      display: flex;
    }
    .custom-contact-address .et_pb_column_1 {
        width: 48%;
    }
    .custom-contact-address .et_pb_column_2 {
        width: 48%;
    }
    /* inner page tiktok */
    .et_pb_section_1 .et_pb_row {
        padding-top: 80px;
        padding-bottom: 30px;
    }
    .custom-section-banner-homeslider .tp-parallax-wrap #slide-1-layer-1 {
      font-size: 75px !important;
      line-height: 70px !important;
    }
   
    .custom-row-game .custom-left-img, .custom-row-game .custom-right-img {
      margin: 0px !important;
    }

    .et_pb_gutters3.et_pb_footer_columns4 .footer-widget:nth-child(2) {
    display: block;
    }
    .et_pb_gutters3.et_pb_footer_columns4 .footer-widget:nth-child(3){width: 15%;}
    .et_pb_gutters3.et_pb_footer_columns4 .footer-widget:nth-child(2) #media_image-2 img{width: 50% !important;}
    .et_pb_gutters3.et_pb_footer_columns4 .footer-widget:nth-child(2) #media_image-2 {text-align: right;}

}
@media(max-width:980px){
  #main-header, #main-header .nav li ul, .et-search-form, #main-header .et_mobile_menu{
    position: absolute !important;
  }
  .custom-row-game .custom-left-img, .custom-row-game .custom-right-img {
    margin: 0px !important;
  }
  .page-child .inner-pagebanner {
    height: 700px !important;
  }
  .custom-row-video p video {
    height: 700px !important;
    object-fit: cover;
  }
  .fullwidthabanner .tp-parallax-wrap {
      top: 194px !important;
  }
  .forcefullwidth_wrapper_tp_banner {
    height: 450px !important;
  }
  header ul li a i{
    color: #000 !important;
  }
  .custom-section-banner-homeslider .tp-parallax-wrap {
      top: 130px !important;
  }
  .custom-section-banner-homeslider .tp-parallax-wrap #slide-1-layer-1 {
    font-size: 68px !important;
    line-height: 60px !important;
  }
  .et_pb_section .et_pb_row, .et_pb_section.et_section_specialty .et_pb_row{
    width: 730px !important;
  }
  .custom-row-about{
      padding: 0px !important;
  }
    .custom-section-homepage-main .custom-row-we-question {
      padding-top: 50px !important ;
      padding-bottom: 50px !important;
  }
  .custom-sections-image-text .custom-text-left, .custom-sections-image-text .custom-text-right {
      padding-bottom: 40px !important;
  }
    .custom-row-we-question h2 {
      line-height: 45px !important;
  }
  footer #footer-widgets {
      padding: 6% 0 0;
      width: 90%;
      display: inline-block;
  }
  .footer-widget:nth-child(n) {
      width: 24%!important;
      margin: 0 2.5% 2.5% 0!important;
  }
  .footer-widget:nth-child(1) {
      width: 15%!important;
      margin: 0 2.5% 2.5% 0!important;
  }
  .footer-widget:nth-child(2) {
      width: 15%!important;
      margin: 0 2.5% 2.5% 0!important;
  }
  .footer-widget:nth-child(3) {
      width: 34%!important;
      margin: 0 2.5% 2.5% 0!important;
  }

  /* about page start */
  .custom-row-about .hovertxt {
      padding: 30px 30px 30px 30px !important;
  }
  .custom-overtext h3{
      font-size: 30px !important;
      line-height: 50px !important;
  }
  .hovertxt h3 {
    font-size: 26px !important;
    line-height: 35px !important;
    letter-spacing: 0;
  }
    .custom-row-about .et_pb_column_0, .custom-row-about .et_pb_column_2, .custom-row-about .et_pb_column_4 {
      margin-bottom: 0px;
  }
  .custom-left-withoutimg h3, .custom-right-withoutimg h3{
      font-size: 40px !important;
      line-height: 45px !important;
      padding-bottom: 15px !important;
  }
  .section_2 > .et_pb_column.et_pb_column_1_2.et_pb_column_2.et_pb_css_mix_blend_mode_passthrough {
      margin-top: 0px;
  }
  .section_2 .custom-aboutimg {
      height: 500px;
  }
  .custom-capability {
      padding-top: 40px !important;
  }
  .custom-Capabilities-list li {
      padding: 6px 0px !important;
  }
  /* work page start */
  header #et-top-navigation{
    position: absolute !important;
    top: 0;
    left: 0;
    padding: 0px !important;
  }
  .custom-we_want-section h2 {
    font-size: 35px !important;
    line-height: 40px !important;
}
  .custom-we_want-section h3{
    font-size: 50px !important;
    line-height: 45px !important;
  }
  header .et_mobile_menu{
    padding: 0px !important;
  }
  header ul li a{
    color: #000 !important;
    text-align: center;
  }
  .custom_work_layer h2 {
      font-size: 48px !important;
      line-height: 50px !important;
  }
  .custom-client-list{
    display: flex;
    align-items: center;
    padding: 0px !important;
  }
  .custom-client-list .et_pb_column {
    width: 100%;
    margin-bottom: 0 !important;
  }
  .inner-pagebanner .work-section{
    margin-bottom: 0px !important;
  }
  /* contact page start */
  .custom-row-subheading {
      padding-top: 70px !important;
  }
  .custom-row-subheading h2{
    font-size: 40px !important;
  }
  .custom-contact-address h3{
    font-size: 25px !important;
  }
  .custom-section_1 {
      padding-bottom: 0px;
  }
  
  .custom-contact-address {
      padding-bottom: 0px !important;
  }
  .custom-row-contact .et_pb_column_3{
    width: 100%;
  }
  .custom-contact .et_pb_column_4, .custom-contact .et_pb_column_5, .custom-contact .et_pb_column_6{
    width: 33.33%;
  } 
  /* inner page tiktok */
  .et_pb_section_2 .et_pb_row.et_pb_row_2, .et_pb_section_3 .et_pb_row.et_pb_row_4, .et_pb_section_4 .et_pb_row.et_pb_row_6, 
  .et_pb_section_5 .et_pb_row.et_pb_row_8, .et_pb_section_6 .et_pb_row.et_pb_row_11, .et_pb_section_7 .et_pb_row.et_pb_row_13, .et_pb_section_8 .et_pb_row.et_pb_row_15 {
      padding: 0px;
  }
  .et_pb_section_4 .et_pb_column_1_3 {
      margin-bottom: 0px !important;
  }
  .et_pb_section_8 .et_pb_column_1_3{
    margin-bottom: 0px !important;
  } 
  .et_pb_section_9 {
      padding-top: 10px !important;
      padding-bottom: 0px !important;
  }

  .et_pb_gutters3.et_pb_footer_columns4 .footer-widget:nth-child(2) {
    display: block;
  }
  .et_pb_gutters3.et_pb_footer_columns4 .footer-widget:nth-child(2) #media_image-2 {
    text-align: left;
  }
  #media_image-2 {width: calc(100%);}
}

@media (max-width: 767px){
  .custom-row-about .custom-right-withoutimg{margin-top: 0px !important;}
  .custom-sections-image-text .et_pb_css_mix_blend_mode_passthrough:first-of-type {
    width: 100% !important;
  } 
  .custom-sections-image-text .et_pb_css_mix_blend_mode_passthrough:last-of-type {
    width: 100% !important;
  }
  .custom-column-images li:first-child{
    flex-direction: column;
    margin: 0px !important;
    padding-bottom: 15px !important;
  }
  .custom-column-images li .alignleft, .custom-column-images li .alignright {
    width: 100%;
    margin: 0px !important;
  }
  .custom-column-images ul {
    padding-left: 0px !important;
}
  .fullwidthabanner div#slide-2-layer-4 {
    top: 124px;
    /*left: -35px;*/
}
	.custom-row-images ul {
		padding-left: 0px !important;
	}
	.custom-row-img-text{
		display: flex;
		flex-wrap: wrap;
	}
	.custom-row-img-text .et_pb_column.et_pb_column_1_2.et_pb_column_9.et_pb_css_mix_blend_mode_passthrough {
		margin-right: 0px !important;
	}
	
	.inner-pagebanner .et_pb_module.et_pb_text.et_pb_text_0.work-section.et_pb_bg_layout_light.et_pb_text_align_center {
		margin-bottom: 0px !important;
	}
	body .et_pb_section_1 .et_pb_row.et_pb_row_1 {
        padding-bottom: 0px !important;
    }
	
	.custom-client-list .et_pb_module.et_pb_text.et_pb_text_15.et_pb_bg_layout_light.et_pb_text_align_center {
		padding: 0px !important;
	}
	.et_builder_inner_content .custom-row-game{
		display: flex;
		flex-wrap: wrap;
	}
	.custom-client-list ul {
	padding-left: 0px !important;
	}
	 body .custom-section_1 .custom-row-about.section_2 {
		padding-bottom: 0px !important;
	}

    div#et-top-navigation {
      position: absolute !important;
      top: 0;
      left: 0;
      padding: 0px !important;
  }
  .forcefullwidth_wrapper_tp_banner {
    height: 552px !important;
  }
  .custom-section-banner-homeslider .tp-parallax-wrap {
    top: 210px !important;
    position: sticky !important;
    left: 0 !important;
  }
  .custom-section-banner-homeslider .tp-parallax-wrap .tp-loop-wrap, .custom-section-banner-homeslider .tp-parallax-wrap .tp-loop-wrap .tp-mask-wrap {
      position: sticky !important;
  }
  header ul li a{
    color: #000 !important;
    text-align: center;
  }
  
  .et_mobile_menu{
    padding: 0px !important;
  }
  .et_pb_section .et_pb_row, .et_pb_section.et_section_specialty .et_pb_row {
      width: 100% !important;
      margin: 0px !important;
      padding: 15px 15px !important;
  }
  .custom-row-we-question h2 {
    line-height: 27px !important;
    font-size: 20px !important;
    letter-spacing: 0px !important;
    padding-top: 10px !important;
  }
  .custom-sections-image-text .custom-text-left h3, .custom-sections-image-text .custom-text-right h3 {
    padding: 0 0px;
    margin: 0px 0px;
    font-size: 20px;
}
  .custom-sections-image-text{
    display: flex;
    flex-wrap: wrap;
  }
  .custom-sections-image-text .et_pb_column.et_pb_column_1_2.et_pb_column_1.et_pb_css_mix_blend_mode_passthrough, 
  .custom-sections-image-text .et_pb_column.et_pb_column_1_2.et_pb_column_2.et_pb_css_mix_blend_mode_passthrough{
    width: 100% !important;
    margin-right: 0px;
    margin-bottom: 0px !important;
}
    .custom-sections-image-text span.et_pb_image_wrap {
      width: 100% !important;
  }
    .custom-sections-image-text span.et_pb_image_wrap img {
      width: 100% !important;
  }
  #footer-widgets .footer-widget .fwidget {
      margin-bottom: 0!important;
      text-align: center !important;
      width: 100%;
  }
  #footer-bottom{
    padding-top: 0px !important;
  }

  /* about page start */
 
    .et_pb_section_1 {
      padding: 0px !important;
  }
  .custom-row-about{
    flex-wrap: wrap;
  }
    .custom-row-about .et_pb_column_0, .custom-row-about .et_pb_column_2, .custom-row-about .et_pb_column_4 {
      width: 100%;
  }
  .custom-row-about .et_pb_column_1, .custom-row-about .et_pb_column_3, .custom-row-about .et_pb_column_5 {
    width: 100%;
  }
    .custom-left-withoutimg h3, .custom-right-withoutimg h3 {
      font-size: 28px !important;
      line-height: 35px !important;
      padding-bottom: 15px !important;
  }
    .section_3 > .et_pb_column.et_pb_column_1_2.et_pb_column_5.et_pb_css_mix_blend_mode_passthrough {
      margin-top: 33px;
  }
  .custom-capability .custom-Capabilities-list ul {
      padding-left: 0px;
  }
  .custom-Capabilities-list li {
      font-size: 14px !important;
  }

  /* wokr page start */
  .custom-we_want-section .et_pb_row.et_pb_row_0 {
      padding-top: 100px !important;
  }
  .custom-we_want-section h2 {
      font-size: 27px !important;
      line-height: 35px !important;
  }
  .custom-we_want-section h3 {
      font-size: 40px !important;
      line-height: 15px !important;
  }
  .page-parent div.et_pb_section.et_pb_with_background.et_section_regular {
      height: 500px !important;
      background-size: cover;
  }
  .custom_work_layer h2 {
      font-size: 35px !important;
      line-height: 43px !important;
  }
  /* contact page start */
  .custom-row-subheading h2 {
    font-size: 25px !important;
    line-height: 37px !important;
    letter-spacing: 0px !important;
    padding-top: 60px;
    padding-bottom: 0px !important;
  }
  .custom-contact-address h3 {
    font-size: 17px !important;
    line-height: 29px;
  }
  .custom-contact-address p{
    margin-bottom: 5px !important;
  }
  .custom-contact-address {
      display: flex;
      flex-wrap: wrap;
  }
  .custom-contact-heading h3 {
    font-size: 32px !important;
    padding-bottom: 0px !important;
  }
  .custom-contact-heading .custom-row-contact{
    padding: 0px !important;
  }
  .custom-contact .et_pb_column_4, .custom-contact .et_pb_column_5, .custom-contact .et_pb_column_6 {
      width: 100%;
  }
  .custom-contact {
      padding: 0px 0px 25px 0px !important;
  }
  .custom-contact .custom-row-contact p {
      margin-top: 5px;
  }


   /* inner page tiktok */
   .page-child .inner-pagebanner {
      height: 600px !important;
  }
   .et_pb_text_1 h1 {
      font-size: 23px !important;
      line-height: 35px !important;
  }
  .et_pb_text_1 h1 p {
      padding-bottom: 10px;
  }
  .single-post #content-area{margin-top:80px;}

  .et_pb_gutters3.et_pb_footer_columns4 .footer-widget:nth-child(2) #media_image-2 img {
    width: 20% !important;
   }
   .footer-widget #text-5 .textwidget p {
    justify-content: center;
    margin-top: 10px;
  }
  #main-header .et_mobile_menu {
    position: absolute !important;
  }

}
@media only screen and (max-width: 480px) {

  .custom-capability .custom-Capabilities-list ul li{min-height: 60px !important;}
  body .custom-Thermador-section .custom-row-images .alignleft.size-full.wp-image-278 {
    margin-right: 0px !important;
  }
  .custom-row-images ul li:first-child img {
    height: 180px !important;
  }
  .custom-we_want-section h2 {
    font-size: 17px !important;
    line-height: 29px !important;
  }
  .custom-row-subheading h2 {
    font-size: 21px !important;
    line-height: 30px !important;
    padding-top: 50px;
  }
  .custom_work_layer h2 {
    font-size: 27px !important;
    line-height: 41px !important;
  }
  .custom-iframe-wrapper{
    flex-direction: column;
  }
 /* .fullwidthabanner div#slide-2-layer-4{
    left: -35px;
  }*/
  .custom-capability .custom-Capabilities-list ul li{
    font-size: 13px !important;
  }
  .single-post #content-area{margin-top:50px;}

  .et_pb_gutters3.et_pb_footer_columns4 .footer-widget:nth-child(2) #media_image-2 img {
    width: 50% !important;
   }
}


/*custom css 25sept19*/
.et_pb_gutters3.et_pb_footer_columns4 .footer-widget {
  text-align: left;
}
.page-child #top-menu-nav li a i:before,
.page-id-13 #top-menu-nav li a i:before,
.page-id-21 #top-menu-nav li a i:before{
  color:#fff;
}
.et_pb_section_5 .et_pb_text_inner p img{
  height: 30px !important;
}

.footer-widget #text-5 .textwidget p{ display: flex;
align-items: center;}

.footer-widget #text-5 .textwidget p a{
  margin: 0px 5px;
}


/*custom css 3oct19*/
.single-post #main-content .container::before{background-color: unset;}
.single-post #content-area{margin-top:100px;}

/*custom css 31oct19*/
.innerheader #top-menu li.current-menu-item > a{color: #8fcb21 !important;}
.hideblog{opacity: 0;visibility: hidden;}

.iscwp-gallery-slider .slick-dots li button{
  background-color: #d3d3d3 !important;
}
/* 31-10-2019 */
.custom-sections-image-text .custom-image-right {
	margin-bottom: 15px !important;
}
/* .custom-sections-image-text .et_pb_column_1_2 .custom-text-right:nth-child(4) {
	padding-bottom: 80px !important;
} */
.custom-sections-image-text .custom-image-left span, .custom-sections-image-text .custom-image-right span{
  width: 100%;
}
.custom-sections-image-text .custom-image-left img, .custom-sections-image-text .custom-image-right img {
	height: 680px;
	object-fit: cover;
	width: 100%;
	object-position: bottom;
}
.innerslide_layer.tp-caption.rev-btn{
  text-decoration:none !important;
}
.equalheightimg img{
  max-height:469px;
}

.page-id-564 .et_pb_image img {
    position: relative;
    max-height: 265px;
    min-height: 265px;
}

#slide-2-layer-4:hover{background-color: #2ea3f2 !important;}
#slide-2-layer-4 a{color:#000000;}
#slide-2-layer-4 a:hover{color:#ffffff;}
#top-menu li.centered-inline-logo-wrap{padding-right: 40px;}